services:
  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: workflow-sqlserver
    environment:
      ACCEPT_EULA: "Y"
      SA_PASSWORD: "YourStrong!Passw0rd"
      MSSQL_PID: "Developer"
    ports:
      - "1433:1433"
    volumes:
      - sqlserver_data:/var/opt/mssql
    healthcheck:
      test: ["CMD-SHELL", "/opt/mssql-tools18/bin/sqlcmd -S localhost -U sa -P \"YourStrong!Passw0rd\" -C -Q \"SELECT 1\" || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 20
      start_period: 20s

  mongodb:
    image: mongo:7
    container_name: workflow-mongodb
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    healthcheck:
      test: ["CMD", "mongosh", "--eval", "db.adminCommand('ping')"]
      interval: 10s
      timeout: 5s
      retries: 20
      start_period: 10s

  backend:
    build:
      context: .
      dockerfile: backend/WorkFlow/Dockerfile
    container_name: workflow-backend
    depends_on:
      sqlserver:
        condition: service_healthy
      mongodb:
        condition: service_healthy
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      ASPNETCORE_URLS: http://+:8080
      ConnectionStrings__DefaultConnection: "Server=sqlserver,1433;Database=WorkFlowDb;User Id=sa;Password=YourStrong!Passw0rd;TrustServerCertificate=True;Encrypt=False;"
      ConnectionStrings__MongoDb: "mongodb://mongodb:27017"
      Jwt__Key: "THIS_IS_MY_SUPER_SECRET_KEY_FOR_WORKFLOW_APP_2026_123456"
      Jwt__Issuer: "WorkFlow"
      Jwt__Audience: "WorkFlowUsers"
      Jwt__ExpireMinutes: "60"
    ports:
      - "7190:8080"
    volumes:
      - backend_uploads:/app/uploads

  frontend:
    build:
      context: .
      dockerfile: frontend/Dockerfile
    container_name: workflow-frontend
    depends_on:
      - backend
    environment:
      VITE_API_BASE: "http://localhost:7190/api"
    ports:
      - "5173:5173"

volumes:
  sqlserver_data:
  mongo_data:
  backend_uploads:
